@import "tailwindcss";

@theme {
  --color-primary: #3B82F6;
  --color-secondary: #0F172A;
  --color-accent: #EF4444;

  --color-dark-100: #1E293B;
  --color-dark-200: #0F172A;
  --color-dark-300: #020617;

  --color-light-100: #FFFFFF;
  --color-light-200: #F8FAFC;
  --color-light-300: #F1F5F9;

  --animation-spin-slow: spin 3s linear infinite;
  --animation-pulse-slow: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
